.historico-segmentacao{
    font-size: 9px;
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;

    .item-segmentacao{
        cursor: pointer;
    }
}

.segmentacao-form{
    label{
        font-size: 9px;
    }
}
